@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-psch {
  background-image: url("https://i.imgur.com/SNsUQCB.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.disc {
  font-family: italic;
  font-size: small;
}

h1 {
  font-weight: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: large;
  color: rgb(248, 226, 186);
}

h2 {
  font-weight: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: large;
  color: orange;
  justify-self: center;
}